<html>

<body bgcolor=#a3cfb4>

    <center>

    <b><i><h1>  The Review is :  </h1></b></i>


    {% if data == -1 %}
    <b><i><h1>Negative review</h1></b></i>
    <img src='static\negative.jpg'style="width:300px;height:300px">

    {% elif data == 0 %}
    <b><i><h1>Mixed review</h1></b></i>
    <img src='static\mixed.jpg' style="width:300px;height:300px">


    {% else %}
    <b><i><h1>Positive review</h1></b></i>
    <img src='static\positive.jpg' style="width:300px;height:300px">

    {% endif %}

        <br><br>
    <b><a href='/'>Try again </a></b>

    </center>

</body>

</html>