<html>
	<head>
        <meta charset="utf-8">
		<meta name="description"content="Final Project">
		<title>Hotel reviews</title>
		</head>
    <body style="background-image: url('static\Hotel.jpg');background-color:rgb(100,100,150)">
		<center>


       <b><em><h1> Hotel reviews sentiment </h1></em></b><br>

        <form method="POST", action="{{url_for('home')}}">
           <b>
            The Review : <input type="text", name='a', placeholder="Enter your review "> <br><br>
            <input type="submit" , value='Predict',color=#DDD >
        </form>
		<img src='static\Hotel.jpg' alt="Hotel" style="width:1300px;height:600px;">
		</center>



    </body>
</html>